<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <% if(meta) { %>
    <title><%= meta.title %></title>
    <meta name="description" content="<%= meta.description %>" />
    <meta name="author" content="<%= meta.author %>" />
    <% } %>

    <link
      href="https://fonts.googleapis.com/css?family=Average|Fjalla+One&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/styles.css" />
    <% if(theme) { %>
    <link rel="stylesheet" href="<%- `/css/themes/${theme}.css`%>" />
    <% } %>
  </head>

  <body>
    <main class="main">
      <h1 class="site-title"><a href="/"><%= siteTitle %></a></h1>
      <%- typeof content != 'undefined' ? content : '' %>
    </main>
  </body>
</html>
